

.layout > div:first-child:not(.recent-posts) {
  padding: 3px 1px;
}

#article-container .flink .flink-list {
  overflow: auto;
  padding: 0px 0px 0;
  text-align: center;
}

#article-container .flink .flink-item-desc {
  padding: 2px 10px 16px 0;
  height: 0px;
  /* font-size: 0.93em; */
}

/*分割线———文章边距——————————————————————————————————————————————————结束—————————————————————————*/


#footer-wrap {
  position: relative;
  padding: 40px 20px;
  color: #565656;
  text-align: center;
}
#footer-wrap a {
  color: #565656;
}

